<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="LocalDbProviderConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear/>
        <add connectionStringName="LocalDbProviderConnectionString" name="AspNetSqlLocalDbProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <authentication mode="Forms"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <membership defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlLocalDbProvider" connectionStringName="LocalDbProviderConnectionString" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="murachbooks@murach.com">
        <network host="localhost" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>